<div class="panel panel-default">
	<div class="panel-heading">
		<h1>About us</h1>
	</div>

	<div class="panel-body">
		<p>I am working on a Pinterest imitator that I'm calling Printerest. It doesn't have anything to do with printing.</p>
	</div>
</div>