<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Team</h1>
	</div>

	<div class="panel-body">
		<p>The "team" is comprised of exactly one person.</p>

		<p>I'm sure you're dying to know: "Why only one person?"</p>

		<p>Good question. There are a couple of reasons:</p>
		<ol>1. This project isn't particularly interesting.</ol>
		<ol>2. This project is small. A decent engineer could easily do it in a day. It is taking this noob a month.</ol>
		<ol>3. This project is self serving. The "team" is using this to learn Ruby on Rails.</ol>
	</div>
</div>